services:
  # Backend API
  - type: web
    name: me-api-backend
    runtime: node
    plan: free
    buildCommand: npm install && node seed.js
    startCommand: node index.js
    rootDir: backend
    envVars:
      - key: NODE_ENV
        value: production
    healthCheckPath: /api/health

  # Frontend
  - type: web
    name: me-api-frontend
    runtime: static
    plan: free
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    rootDir: frontend
    envVars:
      - key: NODE_ENV
        value: production
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
